<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.jpg">
        <link rel="stylesheet" href= "/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was created by Geetanshu Chhabra. It uses data from weather Stack and mapbox</p>
            <img class='portrait' src="/img/1610991304.png">
        </div>
        {{>footer}}
    </body>
</html> 